In [3]:
import pandas as pd

In [8]:
df_csv = pd.read_csv('../data/rawLA311/2016MyLA311ServiceRequestData.csv', low_memory=False, 
                     dtype={
                    'Suffix': 'str',
                     }
                    
                    )

In [9]:
df = df_csv

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952486 entries, 0 to 952485
Data columns (total 33 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SRNumber            952486 non-null  object
 1   CreatedDate         952486 non-null  object
 2   UpdatedDate         952486 non-null  object
 3   ActionTaken         952486 non-null  object
 4   Owner               952486 non-null  object
 5   RequestType         952486 non-null  object
 6   Status              952486 non-null  object
 7   RequestSource       952486 non-null  object
 8   MobileOS            138439 non-null  object
 9   Anonymous           952486 non-null  object
 10  AssignTo            933975 non-null  object
 11  ServiceDate         901474 non-null  object
 12  ClosedDate          952486 non-null  object
 13  AddressVerified     952486 non-null  object
 14  ApproximateAddress  707595 non-null  object
 15  Address             952354 non-null  object
 16  HouseNumber         858992 non-null  float64
 17  Direction           876753 non-null  object
 18  StreetName          883292 non-null  object
 19  Suffix              860794 non-null  object
 20  ZipCode             950881 non-null  object
 21  Latitude            773760 non-null  float64
 22  Longitude           773760 non-null  float64
 23  Location            773760 non-null  object
 24  TBMPage             951812 non-null  float64
 25  TBMColumn           951812 non-null  object
 26  TBMRow              951812 non-null  float64
 27  APC                 951804 non-null  object
 28  CD                  951812 non-null  float64
 29  CDMember            948691 non-null  object
 30  NC                  936122 non-null  float64
 31  NCName              939179 non-null  object
 32  PolicePrecinct      948685 non-null  object
dtypes: float64(7), object(26)
memory usage: 239.8+ MB

In [11]:
df.head(5)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,MobileOS,Anonymous,...,Location,TBMPage,TBMColumn,TBMRow,APC,CD,CDMember,NC,NCName,PolicePrecinct
0,1-88224881,01/01/2016 08:12:00 AM,01/07/2016 07:39:00 AM,SR Created,BOS,Illegal Dumping Pickup,Closed,Call,NaN,N,...,"(34.051491916, -118.366682002)",633.0,A,4.0,Central APC,10.0,Herb J. Wesson Jr.,60.0,P.I.C.O. NC,WILSHIRE
1,1-88224921,01/01/2016 08:15:00 AM,01/02/2016 07:19:00 AM,SR Created,BOS,Dead Animal Removal,Closed,Call,NaN,Y,...,"(34.0844988814, -118.260274626)",594.0,E,6.0,East Los Angeles APC,13.0,Mitch O'Farrell,44.0,GREATER ECHO PARK ELYSIAN NC,NORTHEAST
2,1-88225061,01/01/2016 08:26:00 AM,01/04/2016 02:39:00 PM,SR Created,BOS,Dead Animal Removal,Closed,Call,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1-88226921,01/01/2016 08:28:00 AM,01/04/2016 02:52:00 PM,SR Created,BOS,Bulky Items,Closed,Call,NaN,N,...,"(34.0675498757, -118.204061549)",635.0,B,1.0,East Los Angeles APC,1.0,Gilbert Cedillo,47.0,LINCOLN HEIGHTS NC,HOLLENBECK
4,1-88227021,01/01/2016 08:29:00 AM,01/04/2016 12:31:00 PM,SR Created,BOS,Metal/Household Appliances,Closed,Call,NaN,N,...,"(34.0675498757, -118.204061549)",635.0,B,1.0,East Los Angeles APC,1.0,Gilbert Cedillo,47.0,LINCOLN HEIGHTS NC,HOLLENBECK

In [18]:
len('RequestType')

11

In [19]:
df.value_counts('RequestType')

RequestType
Bulky Items                   414518
Graffiti Removal              311099
Metal/Household Appliances     60511
Illegal Dumping Pickup         52871
Electronic Waste               41330
Dead Animal Removal            24191
Other                          15497
Homeless Encampment            14717
Single Streetlight Issue       11582
Multiple Streetlight Issue      4006
Report Water Waste              1593
Feedback                         571
dtype: int64